* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

.container {
    width: 1166px;
}

header {
    background-color: #333333;
    height: 300px;
    padding-top: 46px;
    display: flex;
    justify-content: center;
}

header .logo {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #FFFFFF;
}

header h1 {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 18px;
    text-align: center;
}

header h2 {
    color: #BB8C4B;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

main {
    margin-top: 100px;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .container {
    display: flex;
    flex-wrap: wrap;
}

.small-article {
    width: 370px;
    margin-right: 28px;
    margin-bottom: 46px;
}

.small-article:nth-child(3n) {
    margin-right: 0;
}

.small-article .poster {
    margin-bottom: 30px;
    width: 100%;
    height: 270px;
    background-color: #E4E4E4;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Just for FUN: START*/
.small-article .poster img {
    transition: all 200ms;
}

.small-article .poster img:hover {
    transform: scale(1.3);
}
/* Just for FUN: END*/

.small-article .meta {
    font-size: 12px;
    font-style: italic;
    color: #999999;
    margin-bottom: 14px;
    display: inline-block;
}

.small-article .title {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 22px;
}

.small-article .description {
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    margin-bottom: 24px;
}

.small-article .link-more {
    font-size: 14px;
    color: #999999;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    height: 80px;
    padding-top: 32px;
    background-color: #252525;
}

footer span {
    font-size: 14px;
    color: #888888;
}

.related-posts {
    margin-top: 72px;
}

.related-posts h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.full-article .poster {
    width: 100%;
    height: 650px;
    background-color: #E4E4E4;
    overflow: hidden;
}

.full-article .poster img {
    width: 100%;
}

.full-article .content {
    width: 772px;
    margin-top: 56px;
    margin-right: 129px;
}

.full-article .content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 33px;
}

.full-article .content p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    color: #999999;
}

.full-article aside {
    margin-top: 67px;
}

.full-article .meta div {
    margin-bottom: 34px;
}

.full-article .meta span {
    display: block;
}

.full-article .meta .title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.full-article .meta .information {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #999999;
}

.full-article .social .title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.full-article .social .posters {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
    width: 230px;
}

.full-article .social .small-poster {
    width: 70px;
    height: 70px;
    background-color: #E4E4E4;
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.full-article .social .small-poster:nth-child(3n) {
    margin-right: 0;
}

.full-article .with-line {
    position: relative;
    padding-bottom: 32px;
}

.full-article .with-line::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #EEEEEE;
    position: absolute;
    bottom: 0;
}

.full-article .comments .title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
}

.full-article .comments .items {
    margin-top: 26px;
}

.full-article .comment {
    display: flex;
    margin-bottom: 36px;
}

.full-article .comment .avatar {
    background-color: #BDBDBD;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-article .comment .avatar span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
}

.full-article .comment .head {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.full-article .comment .author {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
}

.full-article .comment .created {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: #999999;
}

.full-article .comment p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}